    <ul class="menu">
	    <li {% if section == "dashboard" %}class="selected"{% endif %}>
		    <a href="{% url "dashboard" %}">Home</a>
	    </li>
	    <li>
		    <a href="#">Przypisanie kart</a>
 	    </li>
	    <li {% if section == "persons" %}class="selected"{% endif %}>
		    <a href="{% url "persons" %}">Osoby</a>
	    </li>
	    <li {% if section == "cards" %}class="selected"{% endif %}>
		    <a href="{% url "cards2" %}">Karty</a>
	    </li>
	    {% if request.user.is_staff %}
	    <li>
		    <a href="{% url 'admin:login' %}">Administrator</a>
	    </li>
	    {% endif %}
    </ul>
    <span class="user">
	    {% if request.user.is_authenticated %}
	    <div class="dropdown">
		    <span>Witaj, {{ request.user.first_name }}!</span>
		    {% comment %}
		    <button class="dropbtn">Menu profil</button>
		    {% endcomment %}
		    <div class="dropdown-content_" style="font-size:13px">
			    <a href="{% url "logout" %}">Wyloguj</a><br>
			<a href="{% url "password_change" %}">Zmiana hasła</a>
		    </div></span></div>
	    {% else %}
	        <a href="{% url "login" %}">Zaloguj</a>
	    {% endif %}
    </span>
