{% extends "base.html" %}
{% block title %}Użytkownicy systemu{% endblock %}
{% block content %}
	<h1>Użytkownicy systemu</h1>
	<table>
	<thead>
		<tr>
			<th>Pracownik</th>
			<th>Data<br>zatrudnienia (zwolnienia)</th>
			<th>Aktywny</th>
			<th>Admin</th>
		</tr>
	</thead>
	<tbody>
	{% for person in person_list %}
	<tr>
		<td><a class="external" href="{{ person.get_absolute_url }}">
			{% if person.anonymized %}
				ID: {{ person.id }} (zanonimizowana)
			{% else %}
				{{ person.name }}
				{% endif %} </a></td>
		<td>{{ person.hire_date | date:'Y-m-d' }}
			{% if person.fire_date %}
			 ({{ person.fire_date | date:"d-m-Y" }})
			{% endif %}
		</td>
		<td>{{ person.active | yesno:'Tak,Nie,-' }}</td>
		<td>{{ person.admin | yesno:'Tak,Nie,-' }}</td> 
	</tr>
	{% endfor %}
	</tbody>
    </table>
{% if page_obj.paginator.num_pages > 1 %}
    <!-- start -->
    {% include '_pagination.html' with items=page_obj %}
    <!-- end -->
{% endif %}
{# Przyciski #}
<div class="buttons">
   <a class="button" href="{% url "dashboard" %}">Powrót</a>
   {% if request.user.is_staff %}
   <a class="button" 
	href="http://172.16.1.11:8000/admin/administracja/person/add/"
	rel="noopener noreferrer" target="_blank">
	nowa osoba</a>
</div>
{% endif %}
{% endblock %}
